@font-face {
  font-family: "StarJedi";
  src: url("./assets/Starjedi.ttf"); /* IE9 Compat Modes */
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/death_star.jpeg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: StarJedi;
  font-weight: 400;
}

#menu {
  flex-direction: column;
  color: #fff;
}

#menu h1 {
  font-size: 3em;
  font-family: StarJedi;
  margin-bottom: 20px;
}

#menu h2 {
  font-size: 1.5em;
  margin: 60px 0 0 0;
}

#menu,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  margin: 12px;
  max-width: 300px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.instructions p {
  margin: 4px;
}

.instructions img {
  width: 100px;
  height: 100px;
}

button {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  margin: 12px;
  padding: 20px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #fff;
  color: #000;
}

#game_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.time,
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  color: #fff;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.score > p,
.time > p {
  margin: 12px 0 0 0;
}

.stormtroopers_spawn {
  height: 100%;
  width: 100%;
  position: relative;
}

.yoda {
  width: 200px;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 100px);
}

#game_end {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game_end > input,
#game_end > input:focus {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-size: 40px;
  outline: none;
}
